a:hover {
  opacity: 0.7;
}
.container-expanded {
  max-width: 120em;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto
}
.thin {
  font-weight: 300;
}
.top-bar {
  background-color: rgba(52,157,242, .2);
}
.header {
  margin-bottom: 0 !important;
}
  .header h1.text-muted {
    margin-top: 0;
    margin-bottom: 0;
    padding: 17.5px 2.5px 17.5px 2.5px;
    color: #333;
  }
  @media (max-width: 767px) {
    .header h1.text-muted {
      text-align: center;
    }
  }
  .header .col-sm-2 {
    background-color: #349DF2;
  }
#login-buttons {
  padding: 30px;
  width: 100%;
  text-align: center;
}
  #login-buttons a.login-link-text {
    text-decoration: none;
    color: #fff;
    width: 100%;
    height: 100%;
    padding: 30px;
    font-size: 1.8rem;
  }
  #login-buttons .login-close-text {
    text-align: center;
  }
#login-buttons .login-button, .accounts-dialog .login-button {
  background: #349DF2;
  border: none;
}
.form-row {
  background-color: #eee;
}
.todo-form {
  padding: 20px 15px 20px 15px;
}
  .todo-form .form-group {
    margin: 0;
  }
  .todo-form input {
    font-size: 2rem;
    font-weight: 300;
  }
.content {
  padding-bottom: 15px;
  overflow: auto;
}
  .content h3 {
    margin-top: 45vh;
    font-size: 4rem;
    color: #ccc;
  }
  .content.user {
    height: 85vh;
  }
  .content.nouser {
    height: 90vh;
  }
footer {
  padding: 0 15px 0 15px;
}
.footer {
  padding: 20px 0 20px 0;
  color: #777;
  border-top: 1px solid #e5e5e5;
  background-color: rgba(52,157,242, .1)
}
  .footer a {
    color: #349DF2;
    text-decoration: none;
  }
  .footer p {
    margin: 0;
  }
@media screen and (min-width: 768px) {
  .header, .footer {
    padding-right: 0;
    padding-left: 0;
  }
  .header {
    margin-bottom: 30px;
  }
}
ul {
  margin: 0;
  padding: 0;
}
li {
  font-size: 2rem;
  font-weight: 300;
  color: #777;
  list-style: none;
  padding: 15px;
  border-bottom: 1px solid #ddd;
}
li:last-child {
  border-bottom: none;
  padding-bottom: 0;
}
li.checked {
  color: #ccc;
}
li.checked .text {
  text-decoration: line-through;
}
.delete-todo {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: 0;
  position: relative;
  color: red;
}